
div#form-container {
    width: 30%;

}
textarea#dates {
    width: 100%;
    height: 40px;
    padding: 10px;
    float: left;
}
div#buttons {
    width: 10%;
    float: left;

}
div#buttons button {
    display: block;
    width: 100%;
}
